<div class="container-fluid">
	<img src="../../../assets/images/lifestyle/general/about-image.jpg" class="aboutImg">
</div>
<div class="container margin-top-nav">
	<div class="row">
		<div class="col-sm-6 derivia centerText">
			<h1 class="drkBrownText">What Is<br />Lavish Craft?</h1>
		</div>
		<div class="col-sm-6">
			<p>Lavish Craft, Inc is more than just a design company, it’s a creative company committed to bringing more beauty to your world through providing graphic design services and original art reproductions. Artistic expression is a passion that I have been exploring and honing my skills in for years. Each finished art piece is a testament to my commitment of sharing the splendor I see everyday with you. Similarly, every time I enter into a contract for design services I am pledging to help you bring strong, cohesive, appealing designs to your business. When you choose to bring beauty through art of any form into your life you are also choosing to raise your self-awareness, compassion, and critical thinking. You can raise your quality of life just by surrounding yourself with things that bring you joy. Living in beauty applies to all aspects of your life, work and home, which is why Lavish Craft strives to serve both needs. </p>
		</div>
	</div>
</div>
<div class="container margin-top-nav">
	<div class="row">
		<div class="col-sm-6">
			<img src="../../../assets/images/lifestyle/general/my-pic.jpg" class="me">
		</div>
		<div class="col-sm-6">
			<h2 class="drkBrownText derivia centerText">Design Services</h2>
			<p>First there is Lavish Craft Design Services, a graphic, print, and web design service with the goal of creating effective designs you love with a strong focus in brand development. Through putting a tremendous priority on delivering fantastic designs, exceptional service, and timely communication I am able to make your vision come to life. While I am based in the lovely Boulder, CO many of my clients are located throughout the United States. I would love to learn about the project you are undertaking and how my services can help you. </p>
		</div>
	</div>
</div>
<div class="container-fluid margin-top-nav">
	<div class="row">
		<img src="../../../assets/images/lifestyle/gray-wall.jpg" class="mainImg">
	</div>
</div>
<div class="container margin-top-nav">
	<div class="row">
		<div class="col-sm-4 derivia centerText">
			<h2 class="drkBrownText">Art Shop</h2>
		</div>
		<div class="col-sm-7">
			<p>Then there is the Lavish Craft Art Shop where I sell reproductions of original artwork and beautiful quotes to make your walls inspiring. Each print is produced with a professional imaging printer using archival inks and acid free paper to maintain the standards of (gallery quality)  archival giclee prints. Each print is then coated with a UV varnish to protect the colors from fading or scratches. What this all really means is that you will have the print you fell in love with for years to come. Surround yourself with beauty and inspiration whether you’re at home or work. </p>
		</div>
		<div class="col-sm-1 derivia centerText">
		</div>
	</div>
</div>