<div class="centerText margin-top-nav">
	<h1 class="derivia drkBrownText">Checkout</h1>
	<h5 class="beigeText">Total: ${{cartService.getCartTotal()}}.00, Items: {{cartService.getCartItemCount()}}</h5>
	<hr />
</div>
<div class="container">
	<div class="row">
	<!-- Shipping Info -->
		<div class="col-sm-4">
			<h4 class="centerText aquaText infoHead">Shipping Info </h4>
			<div class="drkBrownText">
				<label>First Name: </label>
				<input type="string" name="firstName" placeholder="Bob" />
				<br />
				<label>Last Name: </label>
				<input type="string" name="lastName" placeholder="Saget" />
				<br />
				<label>Address Line 1: </label>
				<input type="string" name="address1" placeholder="Street" />
				<br />
				<label>Address Line 2: </label>
				<input type="string" name="address2" placeholder="Unit #">
				<br />
				<label>City: </label>
				<input type="string" name="city" placeholder="Boulder">
				<br />
				<label>State: </label>
				<input type="string" name="state" placeholder="CO">
				<br />
				<label>Zip: </label>
				<input type="number" name="zip">
			</div>
		</div>

		<!-- Billing Info -->
		<div class="col-sm-4">
			<h4 class="centerText aquaText infoHead">Billing Info </h4>
			<div class="drkBrownText">
				<div>
					<label>Same as Shipping</label>
					<input type="checkbox" name="same" [(ngModel)]="billingSame">
				</div>
				<div [hidden]="billingSame">
					<br />
					<label>First Name: </label>
					<input type="string" name="firstNameBilling" placeholder="Bob" />
					<br />
					<label>Last Name: </label>
					<input type="string" name="lastNameBilling" placeholder="Saget" />
					<br />
					<label>Address Line 1: </label>
					<input type="string" name="address1Billing" placeholder="Street" />
					<br />
					<label>Address Line 2: </label>
					<input type="string" name="address2Billing" placeholder="Unit #">
					<br />
					<label>City: </label>
					<input type="string" name="cityBilling" placeholder="Boulder">
					<br />
					<label>State: </label>
					<input type="string" name="stateBilling" placeholder="CO">
					<!-- <select name="state">
					  <option value="alBilling">AL</option>
					  <option value="akBilling">AK</option>
					  <option value="azBilling">AZ</option>
					  <option value="arBilling">AR</option>
					  <option value="caBilling">CA</option>
					  <option value="coBilling">CO</option>
					  <option value="ctBilling">CT</option>
					  <option value="deBilling">DE</option>
					  <option value="flBilling">FL</option>
					  <option value="gaBilling">GA</option>
					  <option value="hiBilling">HI</option>
					  <option value="idBilling">ID</option>
					  <option value="ilBilling">IL</option>
					  <option value="inBilling">IN</option>
					  <option value="iaBilling">IA</option>
					  <option value="ksBilling">KS</option>
					  <option value="kyBilling">KY</option>
					  <option value="laBilling">LA</option>
					  <option value="meBilling">ME</option>
					  <option value="mdBilling">MD</option>
					  <option value="maBilling">MA</option>
					  <option value="miBilling">MI</option>
					  <option value="mnBilling">MN</option>
					  <option value="msBilling">MS</option>
					  <option value="moBilling">MO</option>
					  <option value="mtBilling">MT</option>
					  <option value="neBilling">NE</option>
					  <option value="nvBilling">NV</option>
					  <option value="nhBilling">NH</option>
					  <option value="njBilling">NJ</option>
					  <option value="nmBilling">NM</option>
					  <option value="nyBilling">NY</option>
					  <option value="ncBilling">NC</option>
					  <option value="ndBilling">ND</option>
					  <option value="ohBilling">OH</option>
					  <option value="okBilling">OK</option>
					  <option value="orBilling">OR</option>
					  <option value="paBilling">PA</option>
					  <option value="hiBilling">HI</option>
					  <option value="riBilling">RI</option>
					  <option value="scBilling">SC</option>
					  <option value="sdBilling">SD</option>
					  <option value="tnBilling">TN</option>
					  <option value="txBilling">TX</option>
					  <option value="utBilling">UT</option>
					  <option value="vtBilling">VT</option>
					  <option value="vaBilling">VA</option>
					  <option value="waBilling">WA</option>
					  <option value="wvBilling">WV</option>
					  <option value="wiBilling">WI</option>
					  <option value="wyBilling">WY</option>
					</select> -->
					<br />
					<label>Zip: </label>
					<input type="number" name="zipBilling">
				</div>
			</div>
		</div>

		<!-- Payment Info -->
		<div class="col-sm-4">
			<h4 class="centerText aquaText infoHead">Payment Info </h4>
			<div class="drkBrownText">
				<label>Name On Card: </label>
				<input type="string" name="firstNameBilling" placeholder="Bob Saget" />
				<br />
				<label>Credit Card Number: </label>
				<input type="string" name="lastNameBilling" placeholder="1234567890" />
				<br />
				<label>Security Code: </label>
				<input type="string" name="address1Billing" placeholder="099" />
				<br />
				<label>Expiration Date: </label>
				<select name="month">
				  <option value="january">January</option>
				  <option value="february">February</option>
				  <option value="march">March</option>
				  <option value="april">April</option>
				  <option value="may">May</option>
				  <option value="june">June</option>
				  <option value="july">July</option>
				  <option value="august">August</option>
				  <option value="september">September</option>
				  <option value="october">October</option>
				  <option value="november">November</option>
				  <option value="december">December</option>
				</select>
				<select name="year">
				  <option value="2016">2016</option>
				  <option value="2017">2017</option>
				  <option value="2018">2018</option>
				  <option value="2019">2019</option>
				  <option value="2020">2020</option>
				  <option value="2021">2021</option>
				  <option value="2022">2022</option>
				  <option value="2023">2023</option>
				</select>
				<br />
			</div>
			<!-- <div (click)="submit()">
		      <img src="../../assets/brand-elements/empty-button.svg" class="cartButton">
		      	<div>
		      		<p class="submit">Submit</p>
		      	</div>
		    </div> -->
		    <div >
		    	<img src="../../assets/brand-elements/empty-button.svg" class="cartButton">
			    <button type="button" data-toggle="modal" data-target="#myModal" class="submit">
			    	Submit
				</button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content centerText drkBrown">
      <div class="modal-header derivia">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        	<h1 class="yellowText" id="myModalLabel">Success!</h1>
      </div>
       <div class="modal-body beigeText">
        	Your order is being processed.
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>