<!-- START PullOut -->
	<div class="container centerText">
		<h2 class="offer">some offer</h2>
		<p>details</p>
	</div>
	<!-- END PullOut -->

	<!-- START Categorie Navigation -->
	<div class="container-fluid centerText">
		<div class="row">
			<div class="newNav">
				<p> Become a Lavish Collector to get an additional instant 20% discount!</p>
			</div>
		</div>
	</div>
	<!-- END Categorie Navigation -->

	<!-- START Item Gallery -->
	<main>
	<!-- First Row -->
		<div class="container">
			<div class="row centerText">
				<div class="col-md-4" *ngFor="let item of itemService.inventory">
					<shop-item [thumb1]= "item.thumb1" [name]= "item.name" [price]= "item.price"></shop-item>
				</div>
			</div>
		</div>
	</main>

	<!-- END Item Gallery -->

