body {
	font-family: 'Raleway', sans-serif;
}
.derivia {
	font-family: 'deriviaregular';
	letter-spacing: 1px;
}

/* Colors */
.yellow {
	background-color: #FAF3A1;
}

.aqua {
	background-color: #BAE0CE;
}

.aquaText {
	color: #BAE0CE;
}

.beige {
	background-color: #CFCABD;
}

.drkbrown {
	background-color: #726969;
}
.drkbrownText {
	color: #726969;
}

.beigeText {
	color: #CFCABD;
}
/* Padding */
.pad-top-5 {
	padding: 2%;
}
.tab{
	padding-right: 3em;
}
.margin-top-nav {
	margin-top: 5.2%;
}


/* Alignment */
.centerText {
	text-align: center;
}

/* Navigation */
.navTopThinLine {
	border-top: 1px solid #726969;
	margin-top: 2px;
}
.navTopThickLine {
	border-top: 3px solid #726969;
	margin-top: 2px;
}
.navBThinLine {
	border-bottom: 1px solid #726969;
	margin-top: 2px;
	margin-bottom: 2%;
}
.navBThickLine {
	border-bottom: 3px solid #726969;
	margin-top: 50px;
}
.navSolid{
	background-color: #726969;
	color: #CFCABD;
	font-family: 'deriviaregular';
	letter-spacing: 1px;
	margin-top: .5%;
	padding-top: .5%;
	text-align: center;
	font-size: 16px;
}
a{
	text-decoration: none;
	color: #CFCABD;
}
a:visited {
	text-decoration: none;
	color: #CFCABD;
}
a:hover {
	text-decoration: none;
	color: #FAF3A1;
}
a:active {
	text-decoration: none;
	color: #FAF3A1;
}

.logo {
	margin-top: 1%;
	position: absolute;
	max-width: 25%;
	margin-left: 37%;
}

/* Footer */
.footer {
	border-top: 1px solid #CFCABD;
	margin-top: 2px;
	color: #726969;
	margin-bottom: %;
}
.footerTop {
	border-top: 3px solid #CFCABD;
	margin-top: 10%;
}

/* HOME */
.mainImg {
	position: absolute;
	max-width: 95%;
}

/* ART SHOP */
/* Pull Out */

.offer {
	/*padding-top: 7%;*/
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 30px;
	color: #CFCABD;
}

/* Sign Up & Categorie Nav */

.newNav {
	background-color: rgba(207, 202, 189, .5);
	padding-top: 9px;
	padding-bottom: 4px;
	color: #726969;
	margin-top: 3%;
	margin-bottom: 3%;
}

/* Gallery */
.product {
		margin-top: 5%;
}
.productName {
	border: 1px solid #FAF3A1;

}

.price {
	font-size: 16px;
}

/* Item Description */

.imgfit {
	/*width: 100%;*/
	height: 100%; 
/*	margin-left: 7%;
*/}
.imgThumb {
	height: 75px;
	width: 75px;
	border: 1px solid #CFCABD;
	margin-bottom: 3px;
}
.imgContainer {
	height: 475px;
	width: 475px;
	border: 1px solid #CFCABD;
}
input.item {
	width: 2.5em;
	border: 1px solid #CFCABD;
	color: #CFCABD;
}

.itemAccordian {
	font-family: 'deriviaregular';
    background-color: white;
    color: #CFCABD;
    cursor: pointer;
    padding: 8px;
    /*width: 100%;*/
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    text-align: center;
}
.itemButton {
	width: 65%;
	position: absolute;
	z-index: -1;
	margin-top: -5%;
	margin-left: -22%;
}
.addItem {
	font-family: 'deriviaregular';
	font-size: 16px;
	padding-left: 35px;
	color: #726969;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
     -webkit-box-shadow: none; 
     box-shadow: none; 
}
.cartArrows {
	position: absolute;
	z-index: -1;
	margin-left: -50%;
}
.itemArrows {
	width: 20%;
}

/* CART */
/* display */
.cartDisplay {
	/*background-color: rgba(186, 224, 206, .5);*/
	color: #726969;
	/*padding-top: 10%;*/
	margin-top: -6%;
}
.cartButton {
	margin-left: -20%;
	width: 35%;
	z-index: -1;
	position: absolute;
}
.cartNav {
	width: 42%;
	margin-top: -12%;
	margin-bottom: -11%;
	margin-left: -10%;
}
.itemCount {
	margin-top: 5%;
	margin-left: 10%;
	font-size: 20px;
	font-weight: bold;
	font-family: 'deriviaregular';
}
.checkOut {
	font-size: 15px;
	color: #CFCABD;
	border: 1px solid #CFCABD;
	padding: 1%;
}
.delete {
	width: 3%;
}

/* Home */
.mainSlideContainer {
	height: 450px;
	margin-bottom: 15%;
	margin-top: 3%;
}

.mainImg {
	/*width: 100%;*/
	height: 100%;
	position: absolute;
}
.splatter {
	position: absolute;
	z-index: -1;
	width: 40%;
	margin-top: -10%;
	margin-left: 60%;

}
.circleHome {
	position: absolute;
	z-index: -1;
	/*width: 40%;*/
	margin-top: 45%;
	margin-left: -3%;
}

.circleSize {
	height: 50%;
}

/* Testimonial Styles */
.test-margin {
	padding-top: 5%;
	color: #726969;
}

.testCat {
	color: #CFCABD;
	font-family: 'Raleway';
	font-size: 14px;
}

.testTitle {
	/*color: #CFCABD;*/
	font-size: 20px;
}

/* About */

.aboutImg {
	width: 100%;
	margin-left: -2%;
}

.me {
	height: 60%;
	margin-left: 15%;
	margin-top: -5%;
}

/* Accordian */

/* Style the buttons that are used to open and close the accordion panel */
.myAccordion {
	font-family: 'deriviaregular';
    background-color: white;
    color: #CFCABD;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    text-align: center;
    /*background-image: '../assets/brand-elements/acc-arrow-left-02.svg';*/
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.myAccordion.active, .myAccordion:hover {
    /*background-color: rgba(250, 243, 161, .25);*/
    /*font-size: 18px;*/
    color: #726969;
}

/*.myAccordion.active:after {
}*/

/* Style the accordion panel. Note: hidden by default */
.myPanel {
    /*padding: 0 18px;*/
    background-color: white;
    display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
#info:active, .myPanel {
    display: block;
    border: 1px solid #726969;
    padding: 5%;
    margin-top: 3%;
    color: #726969;
}

.accArrows {
	position: absolute;
	width: 70%;
	margin-left: -35%;
	margin-top: -2%;
}

/* Button */

button {
	background-color: rgba(255, 255, 255, 0);
	/*border: 1px solid #726969;*/
	border: rgba(255, 255, 255, 0);
}

/* Portfolio */

.portfolioSoon {
	width: 75%;
	margin-left: 12%;
	margin-top: 8%;
}

.portfolioBorder {
	border: 10px solid rgba(186, 224, 206, .5);
	display: block;
	width: 900px;
	height: 350px;
	margin-left: 10%;

}


