<div class="container">
	<div class="row">
		<div class="col-sm-1">
			<!-- blank space -->
		</div>
		<div class="col-sm-1">
		<img src="{{item.thumb1}}">
		</div>
		<div class="col-sm-2">
		</div>
		<div class="col-sm-7">
			<div *ngFor="let type of getAllItemTypes()">
				<div *ngFor="let size of getAllItemSizes()">
					<div *ngIf="quantity[type][size] > 0 || quantity[type][size] === ''">
						<h3>{{item.name}}</h3> 
						<p>Item #: {{item.id}}</p>
						<p> 
							Quantity: <input class="tab" [(ngModel)]="quantity[type][size]" /> 
							Type: <span class="tab">{{type}}</span>
							<span class="tab">Size: {{item.size[size]}}</span>
							<span class="tab">Unit Price: ${{item.price[type][size]}}</span>
							<span class="tab">Total: ${{item.price[type][size] * quantity[type][size]}}</span>
							<a (click)="deleteItem(item)"><img src="../../assets/brand-elements/delete_x.svg" class="delete"></a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-1">
		<!-- blank space -->
		</div>
	</div>
</div>

<!-- How to print all Info -->
<!-- <div *ngFor="let type of getAllItemTypes()">
    <div *ngFor="let size of getAllItemSizes()">
        <div *ngIf="quantity[type][size] > 0">
            <p>raw type: {{type}}</p>
            <p>raw size: {{size}}</p>
            <p>quantity: {{quantity[type][size]}}</p>
            <p>real size: {{item.size[size]}}</p>
            <p>unit price: {{item.price[type][size]}}</p>
            <p>total price: ${{item.price[type][size] * quantity[type][size]}}</p>
            <p> cart total: {{cartService.getCartTotal()}} </p>
        </div>
    </div>
</div> -->