<div class="col-sm-1">
	<div class="imgThumb" id="one">
		<img src={{currItem.thumb1}} class="imgFit">
	</div> 
	<div class="imgThumb" id="two">
		<img src="{{currItem.thumb2}}" class="imgFit">
	</div> 
	<div class="imgThumb" id="three">
		<img src="{{currItem.thumb3}}" class="imgFit">
	</div> 
</div>
<div class="col-sm-5 imgContainer">
	<!-- Img -->
	<img src="{{currItem.img1}}" class="imgFit">
</div>
<div class="col-sm-4">
	<h2>{{currItem.name}}</h2>
	<p>id: {{currItem.id}}</p>
	<p>Description: <br /> {{currItem.description}}
	</p>
</div>
<div class="col-sm-2">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  		<div class="panel panel-default">
    		<div class="panel-heading" role="tab" id="headingOne">
      			<h4 class="panel-title">
        			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          				Paper Prints
        			</a>
      			</h4>
    		</div>
    		<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      			<div class="list-group centerText">
      				<br />
        			<input type="number" name="paper-print" value="8x10" [(ngModel)]="itemQuantities.paper_sm">&nbsp;<span class="tab">{{currItem.size.sm}}</span>${{currItem.price.paper.sm}}
        			<br /><br />
        			<input type="number" name="paper-print" value="11x14" [(ngModel)]="itemQuantities.paper_md">&nbsp;<span class="tab" >{{currItem.size.md}}</span>${{currItem.price.paper.md}}
        			<br /><br />
    					<input type="number" name="paper-print" value="16x20" [(ngModel)]="itemQuantities.paper_lg">&nbsp;<span class="tab">{{currItem.size.lg}}</span>${{currItem.price.paper.lg}}
    					<br />
      			</div>
    		</div>
  		</div>
  		<div class="panel panel-default">
    		<div class="panel-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			        	Canvas Prints
			        </a>
      			</h4>
    		</div>
    		<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      			<div class="list-group centerText">
      				<br />
		        	<input type="number" name="canvas-print" value="8x10" [(ngModel)]="itemQuantities.canvas_sm">&nbsp;<span class="tab">{{currItem.size.sm}}</span>${{currItem.price.canvas.sm}}
        			<br /><br />
        			<input type="number" name="canvas-print" value="11x14" [(ngModel)]="itemQuantities.canvas_md">&nbsp;<span class="tab">{{currItem.size.md}}</span>${{currItem.price.canvas.md}}
        			<br /><br />
    					<input type="number" name="canvas-print" value="16x20" [(ngModel)]="itemQuantities.canvas_lg">&nbsp;<span class="tab">{{currItem.size.lg}}</span>${{currItem.price.canvas.lg}}
    					<br />
		      	</div>
    		</div>
  		</div>
	</div>
  <button (click)="addToCart()">Add To Cart</button>
</div>