<div class="col-sm-1">
	<div class="imgThumb" id="one">
		<img src={{currItem.thumb1}} class="imgFit">
	</div> 
	<div class="imgThumb" id="two">
		<img src="{{currItem.thumb2}}" class="imgFit">
	</div> 
	<div class="imgThumb" id="three">
		<img src="{{currItem.thumb3}}" class="imgFit">
	</div> 
</div>
<div class="col-sm-5 imgContainer">
	<!-- Img -->
	<img src="{{currItem.img1}}" class="imgFit">
</div>
<div class="col-sm-4">
	<h2>{{currItem.name}}</h2>
	<p>id: {{currItem.id}}</p>
	<p>Description: <br /> {{currItem.description}}
	</p>
</div>
<div class="col-sm-2">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  		<div class="panel panel-default">
    		<div class="panel-heading" role="tab" id="headingOne">
      			<h4 class="panel-title">
        			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          				Paper Prints
        			</a>
      			</h4>
    		</div>
    		<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      			<div class="list-group">
        			<input type="number" name="paper-print" value="8x10">&nbsp;<span class="tab">{{currItem.sizeSm}}</span>${{currItem.paperSm}}
        			<br />
        			<input type="number" name="paper-print" value="11x14">&nbsp;<span class="tab">{{currItem.sizeMd}}</span>${{currItem.paperMd}}
        			<br />
					<input type="number" name="paper-print" value="16x20">&nbsp;<span class="tab">{{currItem.sizeLg}}</span>${{currItem.paperLg}}
      			</div>
    		</div>
  		</div>
  		<div class="panel panel-default">
    		<div class="panel-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			        	Canvas Prints
			        </a>
      			</h4>
    		</div>
    		<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      			<div class="list-group">
		        	<input type="number" name="canvas-print" value="8x10">&nbsp;<span class="tab">{{currItem.sizeSm}}</span>${{currItem.canvasSm}}
        			<br />
        			<input type="number" name="canvas-print" value="11x14">&nbsp;<span class="tab">{{currItem.sizeMd}}</span>${{currItem.canvasMd}}
        			<br />
					<input type="number" name="canvas-print" value="16x20">&nbsp;<span class="tab">{{currItem.sizeLg}}</span>${{currItem.canvasLg}}
		      	</div>
    		</div>
  		</div>
	</div>
</div>