<nav>
	<img src="../assets/brand-elements/websiteLogo.png" class="logo">
	<div class="container-fluid">
		&nbsp;
		<div class="row margin-top-nav">
			<div class="navTopThinLine">
				<div class="navTopThickLine">
					<div class="col-md-4 navSolid centerText margin-top-nav">
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-3">
								<p><a (click)="goToRoute('/')">Home</a></p>
							</div>
							<div class="col-md-3">
								<p><a (click)="goToRoute('/about')">About</a></p>
							</div>
							<div class="col-md-3">
								<p><a (click)="goToRoute('/info')">Info</a></p>
							</div>
							<div class="col-md-1">
							</div>
						</div>
					</div>
					<div class="col-md-4">
					</div>
					<div class="col-md-4 navSolid centerText margin-top-nav">
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-3">
								<p>Portfolio</p>
							</div>
							<div class="col-md-3">
					  	 		<p><a (click)="goToRoute('/shop')">Art Shop</a></p>
							</div>
							<div class="col-md-3">
								<p>Contact</p>
							</div>
							<div class="col-md-1">
							</div>
						</div>					
					</div>
				</div>
			</div>
			<div class="navBThickLine">
			</div>
			<div class="navBThinLine">
			</div>
		</div>		
	</div>
</nav>
