<div class="container test-margin">
	<div class="row">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-6 derivia centerText">
		<h1 class="testTitle">Testimonials: <span class="testCat">Design</span></h1>
		<p>The simplicity Katherine brings to the table is a great compliment to my own complexity and allows the end product to reflect a stylish elegance that communicates my brand beautifully.</p>
		<p class="beigeText">–Susan Preucil LLC</p>
		</div>
		<div class="col-sm-3">
		</div>
	</div>
</div>